# See http://help.github.com/ignore-files/ for more about ignoring files.

# webstorm/vim files
.idea
*.iml
*.swp

# compiled output
/tmp

# dependencies
/node_modules
/bower_components

# misc
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.DS_Store
